<%= form_for([@comment.entry, @comment]) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new entry..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>